.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 30%;
  height: 200px;
  margin-bottom: 30px;
}

.project-content {
  border: solid 1px #ccc;
  border-radius: 5px;
  height: 170px;
  position: relative;
  background-size: cover;
  background-position: center;

  &:hover > .overlay {
    opacity: 1;
    cursor: pointer;
  }

  a {
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: flex .3s ease-in-out;
    color: #eee;
    text-decoration: none;

    &:visited {
      color: #eee;
    }

    &:hover {
      color: #eee;
      flex: 2;
      box-shadow: inset 1px 1px 10px 2px #525252;
    }
  }
}

.project-header {
  height: 30px;
  display: flex;
  align-items: center;

  >.title {
    font-size: 23px;
    color: #828282;
    flex: 1;
  }

  >.show-more {
    font-size: 23px;
    color: #828282;
    margin-left: auto;
    position: relative;

    &:hover > .tooltip {
      display: block;
    }
  }
}

.overlay {
  opacity: 0;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: stretch;
  font-size: 70px;
  transition: opacity .2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.divider {
  border-right: solid 3px #eee;
}

.tooltip {
  display: none;
  position: absolute;
  z-index: 999;
  background: rgba(39, 39, 39, 0.9);
  right: 0;
  width: 200px;
  color: #eee;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 5px 4px -4px #1d1d1d;
}


.tooltip-title {
  border-bottom: solid 1px #ccc;
  text-align: center;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "\25CF";
    font-size: 15px
  }

  &::before {
    margin-right: 15px;
  }

  &::after {
    margin-left: 15px;
  }
}
