@import '../sass_vars.scss';

.app {
  min-height: 100vh;
  font-family: $main-font;
  font-size: 20px;
  background-color: $main-light;
}

.section-title {
  font-size: 40px;
  margin: 20px 0;

  > span {
    font-size: 30px;
    color: $dark-lighter;
  }
}

.text-bold {
  font-weight: bold;
}

.main-content {
  margin-left: 270px;
  padding: 0 10%;

  > div:not(.footer) {
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 50px;
  }
}

a {
  color: $main-dark;

  &:visited {
    color: $main-dark;
  }

  &:hover,
  &:focus {
    color: $dark-lighter;
  }

  &.link-light {
    color: $main-light;

    &:visited {
      color: $main-light;
    }

    &:hover,
    &:focus {
      color: #aaa;
    }
  }
}

.footer {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 20px;
  color: $dark-lighter;
}

@media only screen and (max-width: $break-large) {
  .main-content {
    margin-left: 220px;
  }
}

@media only screen and (max-width: $break-medium) {
  .main-content {
    margin-left: 0;
    padding-top: 60px;
  }
}