@import '../../sass_vars.scss';

.sidebar {
  position: fixed;
  width: 270px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: $main-dark;
  height: 100vh;
}

.website-title {
  height: 220px;
  font-family: $secondary-font;
  color: $main-light;
  text-align: center;
  font-size: 40px;
  padding-top: 15px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;

  &:visited {
    color :$main-light;
  }
  
  &:hover {
    background-color: #404040;
  }
}

.avatar {
  position: absolute;
  height: 270px;
  width: 270px;
  border-radius: 50%;
  z-index: 99;
  margin-left: -20px;
  margin-top: 70px;
  border: solid 20px $main-light;
}

.sidebar-content {
  flex: 1;
  padding-top: 160px;
}


.nav-links a {
  display: list-item;
  text-align: center;
  font-size: 20px;
  border-bottom: solid 1px #ccc;
  padding: 20px 0;
  text-decoration: none;
  text-transform: uppercase;

  &:first-child {
    border-top: solid 1px #ccc;
  }

  &:hover {
    background-color: #404040;
    cursor: pointer;
  }
}

.social-links {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  > a:not(:last-child) {
    font-size: 30px;
  }

  > a:last-child {
    flex: 1 100%;
    margin-top: 10px;
    text-align: center;
  }
}

@media only screen and (max-width: $break-large) {
  .sidebar {
    width: 220px;
  }

  .avatar {
    width: 220px;
    height: 220px;
  }
}

@media only screen and (max-width: $break-medium) {
  .sidebar {
    display: none;
  }
}