@import '../../sass_vars.scss';

.Intro p {
  margin-top: 50px;
  font-size: 30px;
}

.Intro-header {
  font-size: 70px;

  >.huge {
    font-size: 100px;
  }
}

@media only screen and (max-width: $break-large) {
  .Intro p {
    margin-top: 30px;
    font-size: 23px;
  }

  .Intro-header {
    font-size: 50px;

    >.huge {
      font-size: 70px;
    }
  }
}

@media only screen and (max-width: $break-medium) {
  .Intro-header {
    font-size: 30px;
  
    >.huge {
      font-size: 40px;
    }
  }
}






