// breakpoints
$break-large: 1270px;
$break-medium : 768px;

// colors
$main-light: #eee;
$main-dark: #272727;
$dark-lighter: #595959;

// fonts
$main-font: 'Rajdhani', sans-serif;
$secondary-font: 'Pathway Gothic One', sans-serif;